.photo{
    width: 85%
}
.date{
    color: black;
}
.timeline-container{
    background-color: #DBE9E9;
    height: 600px;
    overflow-y: scroll;
    width: 85%;
    margin:auto;
}

.timeline-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.timeline-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: gray;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}