@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

.photo{
    width: 85%
}
.icon{
    width: 80%;
    margin-top:20%; 
}
.icon2{
    width: 40%;
    margin-top: 20%;
}
.date{
    color: #785887;
    font-size: 40px !important;
    font-family: 'Courier Prime', Courier, monospace;
    font-weight: 700 !important;
    text-align: center !important;
}
.timeline-container{
    background-color: #CDE2ED;
    height: 600px;
    overflow-y: scroll;
    width: 85%;
    margin:auto;
}

.timeline-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.timeline-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: gray;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}